<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 953}}</string>
		<string>{{266, 0}, {977, 953}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>159ED985-B48F-4C45-9397-2B9C8283CF09</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2A52E41C-C11E-4192-BC7C-84396D6BD17F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9968A8DC-7348-45A2-8FF5-BBD2F40EFC6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2017EC9-F503-487B-8318-EC8E9AA16859</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA2897E6-155B-4B6E-9716-3AE06F5D8E3A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FFBB5F1B-BC39-4F4A-99CB-3E82F80F41DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {731, 923}}</string>
		<string>{{732, 0}, {245, 923}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 867}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 86 1243 1009 0 0 1792 1095 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
